# =============================
# Python / Django
# =============================
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log
db.sqlite3
env/
venv/
ENV/
*.env

# Django
backend/staticfiles/
backend/media/
backend/__pycache__/
backend/*.pyc
backend/*.pyo

# Ignore all migrations except __init__.py and 0001_initial.py
backend/blog_app/migrations/*.py
!backend/blog_app/migrations/__init__.py
!backend/blog_app/migrations/0001_initial.py

*.db

# =============================
# IDE / Editor
# =============================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =============================
# OS fájlok
# =============================
.DS_Store
Thumbs.db

# =============================
# Node / Frontend
# =============================
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
